<div class="grid-container">
  <div class="grid-item">
    <hotel-management-room></hotel-management-room>
  </div>
  <div class="grid-item">
    <hotel-management-room></hotel-management-room>
  </div>
  <div class="grid-item">
    <hotel-management-room></hotel-management-room>
  </div>
  <div class="grid-item">
    <hotel-management-room></hotel-management-room>
  </div>
  <div class="grid-item">
    <hotel-management-room></hotel-management-room>
  </div>
  <div class="grid-item">
    <hotel-management-room></hotel-management-room>
  </div>
</div>
